/*Reset styles*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  max-width: 1560px;
  padding: 0 20px;
  margin: 0 auto; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #292929; }

.link:hover, .link:focus, .link:active {
  color: #01996D; }

/*Styles for header*/
.header {
  border-bottom: 1px solid #D6D6D6; }
  .header__container {
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    max-width: 80px;
    height: auto;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .header__menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .header__sign-in {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative; }

.burger__line {
  display: block;
  width: 100%;
  height: 5px;
  background: #01996D;
  position: absolute;
  left: 0; }
  .burger__line_first {
    top: 0; }
  .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .burger__line_third {
    bottom: 0; }

.start-btn {
  display: inline-block;
  margin-left: 35px;
  padding: 13px 50px;
  background: #01996D;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF; }

.start-btn:hover, .start-btn:focus, .start-btn:active {
  background: #245852; }

/*Styles for headline*/
.headline {
  padding: 175px 0 200px 0;
  background: url(../img/main-bg-min.jpg) center center/cover no-repeat; }

/*Media*/
@media screen and (max-width: 992px) {
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .header__sign-in {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px 75px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#245852));
    background: linear-gradient(#FFFFFF, #245852);
    z-index: 10;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .2s ease;
    transition: .2s ease; }
  .header__menu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  .nav__burger {
    display: block; }
  .nav__menu-close {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 11; }
    .nav__menu-close_line {
      display: block;
      width: 100%;
      height: 3px;
      background: #245852;
      position: absolute;
      top: 50%; }
    .nav__menu-close_line:first-child {
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg); }
    .nav__menu-close_line:last-child {
      -webkit-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg); }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu__item {
    width: 100%;
    margin-bottom: 40px; }
    .menu__item .link {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 5px; }
    .menu__item .link:hover, .menu__item .link:focus, .menu__item .link:active {
      color: #000000;
      text-decoration: underline; }
  .menu__item:last-child {
    margin-bottom: 0; } }
@media screen and (max-width: 630px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__logo {
    position: absolute;
    right: 50px;
    top: 30px; }

  .burger {
    margin-bottom: 15px; } }
@media screen and (max-width: 480px) {
  .header__logo {
    left: 100px;
    top: 17px; } }
@media screen and (max-width: 320px) {
  .link {
    font-size: 16px; }

  .start-btn {
    padding: 13px 20px;
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */