/*Reset styles*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  max-width: 1360px;
  padding: 0 20px;
  margin: 0 auto; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.btn {
  display: inline-block;
  padding: 20px 50px;
  background: #01996D;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF; }

.btn:hover, .btn:focus, .btn:active {
  background-color: #424242; }

.link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #292929; }

.link:hover, .link:focus, .link:active {
  color: #01996D; }

/*Styles for header*/
.header {
  position: fixed;
  z-index: 199;
  width: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #D6D6D6; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    max-width: 80px;
    height: auto;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
  .header__menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .header__sign-in {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative; }

.burger__line {
  display: block;
  width: 100%;
  height: 5px;
  background: #01996D;
  position: absolute;
  left: 0; }
  .burger__line_first {
    top: 0; }
  .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .burger__line_third {
    bottom: 0; }

.start-btn {
  display: inline-block;
  margin-left: 35px;
  padding: 13px 50px;
  background: #01996D;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF; }

.start-btn:hover, .start-btn:focus, .start-btn:active {
  background: #245852; }

/*Styles for headline*/
.headline {
  padding: 260px 0 200px 0;
  background: url(../img/main-bg-min.jpg) center center/cover no-repeat; }
  .headline__container {
    max-width: 440px; }
  .headline__title {
    font-family: "Georgia", "Century Schoolbook", serif;
    font-weight: 600;
    font-size: 65px;
    line-height: 74px;
    color: #01996D;
    margin-bottom: 30px; }
  .headline__text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    margin-bottom: 40px; }

/*Styles for section steps*/
.info {
  padding: 75px 0 50px 0; }
  .info__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px; }
    .info__header_title {
      max-width: 584px;
      margin-bottom: 30px;
      font-family: "Georgia", "Century Schoolbook", serif;
      font-weight: bold;
      font-size: 50px;
      line-height: 157%;
      color: #01996D; }
      .info__header_title .label {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 157%;
        color: #424242; }
    .info__header_text {
      max-width: 671px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #424242;
      -ms-flex-item-align: center;
          align-self: center; }
  .info__body {
    height: 930px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; }

.step__title {
  font-family: "Georgia", "Century Schoolbook", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 37px; }
.step__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  margin-bottom: 37px; }
.step__img {
  max-width: 390px; }

.step1 .step__title, .step3 .step__title {
  text-align: center; }

.step1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative; }
  .step1 .step__title::before {
    position: absolute;
    left: 20px;
    top: -45px;
    content: '01';
    font-weight: normal;
    font-size: 150px;
    color: rgba(1, 153, 109, 0.2); }

.step2 {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end; }
  .step2 .step__title {
    text-align: end; }
  .step2 .step__title::before {
    position: absolute;
    left: 20px;
    top: -45px;
    content: '02';
    font-weight: normal;
    font-size: 150px;
    color: rgba(1, 153, 109, 0.2); }

.step3 {
  position: relative;
  margin-bottom: 160px; }
  .step3 .step__title::before {
    position: absolute;
    left: 45px;
    top: -45px;
    content: '03';
    font-weight: normal;
    font-size: 150px;
    color: rgba(1, 153, 109, 0.2); }

/*Styles for section story*/
.story {
  padding: 70px 0;
  background: #245852; }
  .story__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .story__desc {
    -ms-flex-item-align: center;
        align-self: center; }
  .story__video {
    max-width: 800px; }
    .story__video img {
      width: 100%; }

.desc__title {
  font-family: "Georgia", "Century Schoolbook", serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  color: #FFFFFF;
  margin-bottom: 33px; }
.desc__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  color: #FFFFFF;
  margin-bottom: 57px; }

/* Styles for section product*/
.product {
  padding: 70px 0; }
  .product__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .product__img {
    max-width: 500px; }
    .product__img img {
      width: 100%; }
  .product__info {
    max-width: 584px; }
    .product__info_title {
      font-family: "Georgia", "Century Schoolbook", serif;
      font-weight: bold;
      font-size: 50px;
      line-height: 157%;
      color: #01996D;
      margin-bottom: 20px; }
      .product__info_title .label {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 157%;
        color: #424242; }
    .product__info_text {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #424242;
      margin-bottom: 40px; }

/*Styles for footer*/
.footer {
  padding: 50px 0;
  background: #245852; }
  .footer__logo {
    font-size: 30px;
    line-height: 55px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 30px; }

.menu_link {
  color: #FFFFFF; }
.menu__list {
  display: block; }

/*Media*/
@media screen and (max-width: 1400px) {
  .info {
    padding: 50px 0px; }
    .info__header {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 100px; }
    .info__body {
      height: 500px; }

  .step__img {
    max-width: 200px; }

  .step3 {
    margin-bottom: 0; }

  .story__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .story__video {
    max-width: 100%; }

  .desc {
    position: relative; }
    .desc__btn {
      position: absolute;
      bottom: 44px;
      right: 0; }
    .desc__title {
      text-align: center; } }
@media screen and (max-width: 1228px) {
  .product {
    padding: 50px 0; }
    .product__img {
      max-width: 400px; }
      .product__img img {
        width: 100%; }
    .product__info {
      max-width: 500px; }
      .product__info_title {
        font-size: 40px;
        line-height: 140%; }
        .product__info_title .label {
          font-size: 20px; }
      .product__info_text {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #424242;
        margin-bottom: 30px; } }
@media screen and (max-width: 992px) {
  .header__container {
    padding: 17px 0; }
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .header__sign-in {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px 75px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#01996D));
    background: linear-gradient(#FFFFFF, #01996D);
    z-index: 10;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: .2s ease;
    transition: .2s ease; }
  .header__menu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  .nav__burger {
    display: block; }
  .nav__menu-close {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 11; }
    .nav__menu-close_line {
      display: block;
      width: 100%;
      height: 3px;
      background: #245852;
      position: absolute;
      top: 50%; }
    .nav__menu-close_line:first-child {
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg); }
    .nav__menu-close_line:last-child {
      -webkit-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg); }

  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu__item {
    width: 100%;
    margin-bottom: 40px; }
    .menu__item .link {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 5px; }
    .menu__item .link:hover, .menu__item .link:focus, .menu__item .link:active {
      color: #000000;
      text-decoration: underline; }
  .menu__item:last-child {
    margin-bottom: 0; }

  .info__body {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .info__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-bottom: 100px; }
  .info__item:last-child {
    margin-bottom: 0; }

  .step__img {
    max-width: 380px; }

  .step1 .step__title, .step2 .step__title, .step3 .step__title {
    text-align: center; }
  .step1 .step__title::before, .step2 .step__title::before, .step3 .step__title::before {
    left: 30%; }

  .product {
    padding: 50px 0; }
    .product__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .product__img {
      max-width: 500px; }
      .product__img img {
        width: 100%; }
    .product__info {
      margin-bottom: 30px;
      max-width: 100%; }
      .product__info_title {
        font-size: 40px;
        line-height: 140%; }
        .product__info_title .label {
          font-size: 20px; }
      .product__info_text {
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #424242;
        margin-bottom: 30px; } }
@media screen and (max-width: 767px) {
  .desc__text {
    font-size: 18px; }
  .desc__btn {
    padding: 20px 20px; } }
@media screen and (max-width: 630px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__logo {
    position: absolute;
    right: 50px;
    top: 30px; }

  .burger {
    margin-bottom: 15px; }

  .headline {
    padding: 150px 0 50px 0;
    background: #f1f1f1; }

  .story {
    padding: 50px 0; }

  .info__header_title {
    font-size: 40px; }

  .desc__title {
    font-size: 40px; }
  .desc__text {
    margin-bottom: 30px; }
  .desc__btn {
    position: static;
    width: 100%;
    margin-bottom: 30px; } }
@media screen and (max-width: 480px) {
  .header__logo {
    left: 100px;
    top: 17px; }

  .headline__title {
    font-size: 50px;
    line-height: 64px; }
  .headline__text {
    font-size: 18px;
    line-height: 150%; }

  .info__header_title, .desc__title, .product__info_title, .footer {
    font-size: 30px; }

  .step__img {
    max-width: 280px; } }
@media screen and (max-width: 320px) {
  .link {
    font-size: 16px; }

  .start-btn {
    padding: 13px 20px;
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */